<div class="form">
  <h1>Example Form</h1>

  <div
    class="control"
    [ngClass]="{'control': true, 'suggestion_showing': state.fields.firstName.showSuggestions}"
  >
    <label for="">First Name</label>

    <input
      [ngClass]="{'input': true, 'visible': state.fields.firstName.suggestionApplied}"
      type="text"
      [(ngModel)]="state.fields.firstName.value"
      (click)="state.fields.firstName.showSuggestions = false"
    />

    <div
      *ngIf="!state.fields.firstName.suggestionTransitioned && !state.fields.firstName.suggestionTransitioned"
      [ngClass]="{'suggestions': true, 'hidden': !state.fields.firstName.showSuggestions}"
    >
      <div class="suggestion" (click)="suggestionClick('firstName','Tom')">
        Tom
      </div>
      <div class="suggestion" (click)="suggestionClick('firstName','Thomas')">
        Thomas
      </div>
    </div>
  </div>

  <div
    class="control"
    [ngClass]="{'control': true, 'suggestion_showing': state.fields.lastName.showSuggestions}"
  >
    <label for="">Last Name</label>

    <input
      [ngClass]="{'input': true, 'visible': state.fields.lastName.suggestionApplied}"
      type="text"
      [(ngModel)]="state.fields.lastName.value"
      (click)="state.fields.lastName.showSuggestions = false"
    />

    <div
      *ngIf="!state.fields.lastName.suggestionTransitioned && !state.fields.lastName.suggestionTransitioned"
      [ngClass]="{'suggestions': true, 'hidden': !state.fields.lastName.showSuggestions}"
    >
      <div class="suggestion" (click)="suggestionClick('lastName','Lewis')">
        Lewis
      </div>
    </div>
  </div>

  <button (click)="reset()">Reset</button>
</div>
