<div class="form">
  <h1>Example Form</h1>
  <app-control
    *ngFor="let field of state.fields"
    [field]="field"
    [showSuggestions]="field.showSuggestions"
    [suggestionApplied]="field.suggestionApplied"
    [suggestion]="getSuggestion(field)"
    (suggestionClick)="suggestionClick($event)"
    (showSuggestionsChange)="showSuggestionsChange()"
  ></app-control>

  <button (click)="reset()">Reset</button>
  <button (click)="onSubmit()">Submit</button>
  <button (click)="onNewForm()">New Form</button>

  <hr />

  <div class="thes_vault">
    <div class="thes">
      <h1>Thesaurus</h1>

      <table *ngFor="let thesaurusItem of thesaurus" class="thes_vault_item">
        <tr>
          <td>Label:</td>
          <td>{{ thesaurusItem.label }}</td>
        </tr>

        <tr>
          <td>Canonical:</td>
          <td>{{ thesaurusItem.canonical }}</td>
        </tr>
      </table>
    </div>

    <div class="vault">
      <h1>Vault</h1>

      <table *ngFor="let vaultItem of vault" class="thes_vault_item">
        <tr>
          <td>Canonical:</td>
          <td>{{ vaultItem.canonical }}</td>
        </tr>

        <tr>
          <td>Value:</td>
          <td>{{ vaultItem.value }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
